body{
	text-align:center;
	font-family:arial;
	background-image:url("../images/gradientfromtop.gif");
	background-repeat: repeat-x;
}


.topTable{
	color:white;
	background-color:#98c122;
	font-family:arial;
	text-align: center;
}

#resultados{
	border-collapse:collapse;
	width:60%;
	font-family:arial;
}
#resultados,#globalResult, .table1td
{
	border:1px solid green;
}

td{
	padding:3px;
}

#graph{
	text-align: center;
	border-collapse:collapse;
	font-family:arial;
}

#globalResult{
	border-collapse:collapse;
	width:40%;
	font-family:arial;	
}

.trPar{
	background-color:#eaf2d3;
}
