body{
	background-color:#ffffff;
}


.topTable{
	color:white;
	background-color:#98c122;
	font-family:arial;
	text-align: center;
}

#resultados{
	border-collapse:collapse;
	width:60%;
	font-family:arial;
}
#resultados,#globalResult, td
{
	border:1px solid green;
}

td{
	padding:3px;
}

#globalResult{
	border-collapse:collapse;
	width:40%;
	font-family:arial;	
}

.trPar{
	background-color:#eaf2d3;
}
